{% extends "main.html" %}

        {% block ext_head %}
        <style type="text/css">
            span.tab-space {padding-left:2em;}
        </style>
        span.tab-space {padding-left:5em;}
        {% end %}
        {% block nav %}
        {% include  "nav.html" %}
        {% end %}


    {% block container %}
   <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->
         <ul class="page-sidebar-menu">

            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler"></div>
               <div class="clearfix"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start">
               <a href="/">
               <i class="icon-home"></i>
               <span class="title">Dashboard</span>
               <span class="selected"></span>
               </a>
            </li>
            <li class="active" >
               <a href="javascript:;">
               <i class="icon-th"></i>
               <span class="title">服务器管理</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                  <li  class="active">
                     <a href="javascript:;">
                     <i class="icon-table"></i>
                     xTable
                     <span class="arrow"></span>
                     </a>
                     <ul class="sub-menu">
                        <li ><a href="xtable">  xList</a></li>
                        <li ><a href="xProfile">  xProfile</a></li>
                        <li ><a href="update"> xUpdate </a></li>
                         <li class="active" ><a href="history"> History Operate </a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li class="last">
               <a href="charts.html">
               <i class="icon-bar-chart"></i>
               <span class="title">Visual Charts</span>
               </a>
            </li>
         </ul>

         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
         <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
         <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!-- /.modal-dialog -->
         </div>
         <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

         <!-- BEGIN PAGE HEADER-->
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  X-Table <small>服务器列表</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
                  <li>
                     <i class="icon-home"></i>
                     <a href="/">Home</a>
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="#">hostory</a></li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
            <div class="clearfix"></div>

<!--##################-->
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet">
                  <div class="portlet-title">
                     <div class="caption"><h4 class="text-primary">操作记录</h4></div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a onclick="loadhistory()" class=" icon-refresh"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>操作</th>
                                 <th>编号</th>
                                 <th>用途</th>
                                 <th>备注</th>
                                 <th>说明</th>
                                 <th>操作人</th>
                                 <th>操作时间</th>
                              </tr>
                           </thead>
                           <tbody id="show_history">

                           </tbody>
                        </table>
                     </div>
                </div>

                  <!--<div  id="show_history" class="portlet-body">-->
                  <!--</div>-->
               </div>
               <!-- END Portlet PORTLET-->
            </div>
         </div>


<!--################-->

      </div>
    </div>
      <!-- END PAGE -->


  {% end %}
   {% block ext_js %}

<script>
    function loadhistory()
    {
//  var  dcode = '<div  class="alert cssdata "><strong>act</strong><span class="tab-space">
// 编号:srv_num</span><span class="tab-space">用途:Srv_used</span>
// <span class="tab-space">备注:note</span><span class="tab-space">说明:xExplain</span>
// <span class="tab-space">操作人:opName</span><span class="tab-space">时间:dtime</span></div> '
          var dcode= '<tr>'+
                          '<td class="cssdata">act</td>' +
                          '<td class="cssdata">srv_num</td>' +
                          '<td class="cssdata">Srv_used</td>' +
                          '<td class="cssdata">note</td>' +
                          '<td class="cssdata">xExplain</td>' +
                          '<td class="cssdata">opName</td>' +
                          '<td class="cssdata">dtime</td>' +
                     '</tr>';
              $.getJSON("/api?stype=history", function(json){
                  var historydata="";
                  for (line in json)
                  {
                      if (json[line].act == 'del')
                     {

      var tmp=dcode.replace('act','删除').replace(/cssdata/g,'danger').replace('srv_num',json[line].srv_num).replace('Srv_used',json[line].Srv_used).replace('note',json[line].note).replace('xExplain',json[line].xExplain).replace('opName',json[line].opName).replace('dtime',(json[line].op_time));
                         historydata= historydata + tmp
                     }

                      if (json[line].act == 'add')
                     {

                var tmp2=dcode.replace('act','新增').replace(/cssdata/g,'success').replace('srv_num',json[line].srv_num).replace('Srv_used',json[line].Srv_used).replace('note',json[line].note).replace('xExplain',json[line].xExplain).replace('opName',json[line].opName).replace('dtime',(json[line].op_time));
                         historydata= historydata + tmp2
                     }

                      if (json[line].act == 'update')
                     {

                var tmp3=dcode.replace('act','更新').replace(/cssdata/g,'warning').replace('srv_num',json[line].srv_num).replace('Srv_used',json[line].Srv_used).replace('note',json[line].note).replace('xExplain',json[line].xExplain).replace('opName',json[line].opName).replace('dtime',(json[line].op_time));
                         historydata= historydata + tmp3
                     }


                  }
                  $("#show_history").html(historydata);

              });


        }

    $(document).ready(function(){
        loadhistory();
    });
</script>


  {% end %}