{% extends "main.html" %}

        {% block ext_head %}
        {% end %}
        {% block nav %}
        {% include  "nav.html" %}
        {% end %}


    {% block container %}
   <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->
         <ul class="page-sidebar-menu">

            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler"></div>
               <div class="clearfix"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start">
               <a href="/">
               <i class="icon-home"></i>
               <span class="title">Dashboard</span>
               <span class="selected"></span>
               </a>
            </li>
            <li class="active">
               <a href="javascript:;">
               <i class="icon-th"></i>
               <span class="title">服务器管理</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                  <li  class="active">
                     <a href="javascript:;">
                     <i class="icon-table"></i>
                     xTable
                     <span class="arrow"></span>
                     </a>
                     <ul class="sub-menu">
                        <li ><a href="/">  xList</a></li>
                        <li class="active"><a href="xProfile">  xProfile</a></li>
                        <li ><a href="update"> xUpdate </a></li>
                         <li ><a href="history"> History Operate </a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li class="last">
               <a href="charts.html">
               <i class="icon-bar-chart"></i>
               <span class="title">Visual Charts</span>
               </a>
            </li>
         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
         <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
         <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!-- /.modal-dialog -->
         </div>
         <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

         <!-- BEGIN PAGE HEADER-->
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <h3 class="page-title">
                  X-Profile <small>Profile</small>
               </h3>
               <ul class="page-breadcrumb breadcrumb">
                  <li>
                     <i class="icon-home"></i>
                     <a href="/">Home</a>
                     <i class="icon-angle-right"></i>
                  </li>
                  <li><a href="xtable">xTable</a></li>
                   <i class="icon-angle-right"></i>
                   <li><a href="xProfile">X-Profile</a></li>
               </ul>
               <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
         </div>
         <!-- END PAGE HEADER-->        <!--<button type="button" class="btn btn-default" onclick="doadd()">新增行</button>-->


          <!--<div class="alert alert-success" id="events-result">-->
        <!--Here is the result of event.-->
           <!--</div>-->
          <div class="clearfix"></div>
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet">
                  <div class="portlet-title">
                     <div class="caption"><h4 class="text-primary">Srv Description</h4></div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="/update?id={{i.id}}"  class="icon-wrench"></a>
                        <a onclick="loadProfile()" class=" icon-refresh"></a>
                        <a onclick="confirmmsg({{i.id}})" class="icon-remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                  <ul class="list-group-item-info">
                     <li id="srv_num" class="text-success"></li>
                     <li id="Srv_used" class="text-success"></li>
                     <li id="inter_ip" class="text-success"></li>
                     <li id="local_ip" class="text-success"></li>
                     <li id="rank_one" class="text-success"></li>
                      <li id="admin" class="text-success" ></li>

                  </ul>

                  </div>
               </div>
               <!-- END Portlet PORTLET-->
            </div>
         </div>
          <div class="col-md-12">
                            <div class="portlet-body">

                  </div>
             </div>

         <div class="clearfix"></div>
      </div>
      <!-- END PAGE -->
   </div>

  {% end %}
   {% block ext_js %}

<script>
    $(document).ready(function(){
        loadProfile();

    });

</script>

<script>

    function dataSplit(value,key) {
        var urldata="";
        var iparray=value.split(key);
        for (index in iparray)
        {
            urldata = urldata + '<a href="#">' + iparray[index] + '</a>' + '   |   ';
        }
        return urldata;
            }
    function loadProfile()
    {
      $.getJSON("/api?stype=xProfile&id={{i.id}}", function(json){
          var inter_ip=dataSplit(json.recs.inter_ip,'/n');
          var local_ip=dataSplit(json.recs.local_ip,'/n');
          var Srv_used=dataSplit(json.recs.Srv_used,'/n');
          $("#srv_num").html('服务器编号 : ' + json.recs.srv_num);
          $("#Srv_used").html('用途说明 : ' + Srv_used);
          $("#local_ip").html('局域网IP : ' + local_ip);
          $("#inter_ip").html('外网IP : ' + inter_ip);
          $("#rank_one").html('所属项目 : ' + json.recs.rank_one);
          $("#admin").html('管理员 : ' + json.recs.admin);
        });
    }

   function dodel(id){
        var rv={};
        rv.act="del";
        rv.id=id;
        $.post("/update",rv,function(v){
            alert("删除"+ v.result);
            location.href="/";
        });
    }
 function confirmmsg(id){
        var del_id = id
        if (confirm("你确认要删除这条记录吗？"))
        dodel(del_id)

    }


</script>



  {% end %}